html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#root {
  flex: 1;
  margin: 20px auto;
}

#settings {
  padding: 20px;
}
.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.form-field label {
  font-weight: bold;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transition: 2s;
}

/*.slice-line:before {*/
.slice-line {
  /*content: "";*/
  position: absolute;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  /*border-left: var(--line-width) solid var(--color);*/
  border-right: var(--line-width) solid var(--color);
  transform: rotate(var(--angle));
  box-sizing: border-box;
}

.slice-text {
  position: absolute;
  height: 0;
  line-height: 0;
  top: calc(50%);
  left: 0;
  right: 0;
  border-left: var(--line-width) solid transparent;
  transform: rotate(var(--angle));
  box-sizing: border-box;
  padding-left: var(--padding-start);
  display: flex;
  align-items: center;
}
.phrase-inner {
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 0.5s;
}
.phrase-inner:hover {
  color: #0096d6;
}

#groups {
  background: #d2f7d5;
}
#slices {
  background: #ddf0df;
}
#groups > .slice-text {
  font-weight: bold;
  text-align: center;
  color: #057988;
}

/* .rotate90 */
#groups > .slice-text {
  justify-content: center;
}
#groups > .slice-text > .phrase-inner {
  transform: rotate(90deg);
  position: absolute;
  width: 150px;
}

#groups > .slice-text > .phrase-inner:hover {
  font-size: 18px;
}

#slices .phrase-inner {
  text-wrap: nowrap;
  padding: 0 5px 0 20px;
}
#slices .phrase-inner:hover {
  color: #0096d6;
  padding-left: 35px;
  font-weight: bold;
}

#center {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#center h2 {
  margin: 0 0 5px 0;
  font-size: 17px;
}
#center > .grid {
  margin: 0 30px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid > div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.grid div:nth-child(1),
.grid div:nth-child(3) {
  border-right: 2px solid #333333;
  text-align: right;
}
.grid div:nth-child(1),
.grid div:nth-child(2) {
  border-bottom: 2px solid #333333;
}

@media print {
  #settings {
    display: none;
  }
}
