body {
  -webkit-print-color-adjust: exact;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.portrait {
  flex-direction: row;
}
.landscape {
  flex-direction: column;
  align-items: center;
}

body:before {
  display: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.A4.portrait {
  @page {
    size: A4 portrait;
    margin: 20px;
  }
}
.A4.landscape {
  @page {
    size: A4 landscape;
    margin: 20px;
  }
}

#badges {
  margin: 10px;
  display: grid;
  align-content: center;
  /*gap: 1px;*/
}

.portrait #badges {
  grid-template-columns: auto auto auto;
}
.landscape #badges {
  grid-template-columns: auto auto auto auto auto;
}

.badge {
  /*margin: 1px;*/
  padding: 0 0 40px 0;
  border: 1px dashed #bbbbbb;
  /*border-top: 1px dashed #bbbbbb;*/
  /*border-left: 1px dashed #bbbbbb;*/
  /*outline: 1px dashed #bbbbbb; !* Use outline instead of border *!*/
  width: 5.6cm;
  height: 8.2cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  font-family: Intro;
  /*font-family: Intro, sans-serif;*/
  /* https://www.base64-image.de/ */
  background-color: #ffffff;
  background-image: url("images/Voichita.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  text-transform: uppercase;
}
.badge div {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media print {
  body {
    background-color: #ffffff;
  }
  .no-print {
    display: none;
  }
  #badges {
    margin: 0;
  }
}

#config {
  width: 300px;
}
#names {
  width: 100%;
  border-radius: 5px;
  min-height: 80vh;
  padding: 10px 10px;
}

.landscape #names {
  min-height: 20vh;
}

#print-btn {
  padding: 4px 10px;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait .badge:nth-child(9n) {
  page-break-after: always;
}
.landscape .badge:nth-child(10n) {
  page-break-after: always;
}

.flip {
  transform: rotate(180deg);
}

/* for small screen use column*/
@media (max-width: 600px) {
  .portrait {
    flex-direction: column;
  }
  .landscape {
    flex-direction: column;
  }
  #config {
    width: 100%;
    padding: 15px;
  }
  .portrait #names {
    min-height: 30vh;
  }

  #badges {
    margin: 5px;
  }
  .portrait #badges {
    grid-template-columns: auto auto;
  }
  .landscape #badges {
    grid-template-columns: auto auto;
  }
}
